.albums_saliva_nav{
    display: flex;
    justify-content: space-between;
}
.back_icon{
    height: 34px;
}
.icon_name_album{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}